@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

*
{
	font-family: "GohuFont";
	font-size: 11px;
}

:root {
	--tab-height: 14px; /*--tab-triangle-correction: -1px; */--tab-strip-margin: -12px;
	--tab-fonts: "GohuFont";
	--tab-triangle: none; /* block | none */

	/* URL VARIABLES */
	--url-fonts: "GohuFont";
}

notification[value="plugin-hidden"] {
	  display: none !important;
}

.tabs-newtab-button
{
	display: none !important;
}
