@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* genie */

/*
 * #appmenu-button,
 * #star-button,
 * #feed-button,
 * #go-button,
 * #identity-box,
 * .autocomplete-history-dropmarker,
 * #appmenu-button,
 * #appmenu-button:hover:not(:active):not([open]),
 * #appmenu-button:hover:active,
 * #appmenu-button[open],
 * #scrollbutton-up,
 * #scrollbutton-down,
 * */

/*#content browser{margin-right:-16px!important;overflow-y:scroll;overflow-x:hidden;}
 */
.tabbrowser-tabs *|tab {
	height:    12px !important;
}

.appmenu-button-container
{
	background: #1b1d1e !important;
}
#navigator-toolbox #TabsToolbar,
{
	background: #1b1d1e !important;
}
#appmenu-toolbar-button,
.tabbrowser-tab
{
	background-color: #1b1d1e !important;
	text-shadow: none !important;
	color: #a3babf !important;
	border: none !important;
	border-radius: 0 !important;
}

.tab-background-middle {
	border-left: none !important;
	border-right: none !important;
	margin: 0 -0.5px !important;
}
 

#go-button,
#star-button,
.tab-close-button,
.autocomplete-history-dropmarker,
.tabbrowser-tab[label="New Tab"]:not([blah]) .tab-icon-image,
.tabbrowser-tab .tab-icon-image
{
	display: none !important;
}

.appmenu-toolbar-button
{
	background-color: #1b1d1e !important;
	color: #262729 !important;
	text-align: left !important;
	margin: 0 3px 0 0px !important;
	padding: 0 0 0 0 !important;
}

.toolbarbutton-menu-dropmarker
{
	display: none !important;
}

#navigator-toolbox #TabsToolbar
{
	background-color: #1b1d1e !important;
	padding: 0px 0px !important;
}

.tabbrowser-tab {
	text-align: center !important;
	color: #1b1d1e !important;
	background: #262729 !important;
	margin: -2px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	border: none !important;
	border-radius: 0 !important;
	font-family: Terminus !important;
	font-size: 8pt !important;
}
.tabbrowser-tab[selected="true"] {
	background: #1b1d1e !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 0px 0px 0px 0px !important;
	color: #ffffff !important;
} 

#new-tab-button, .tabs-newtab-button {display:none !important;}
.tabs-newtab-button{visibility:hidden !important}

.tabbrowser-tabs  {
	background-color:    #1b1d1e !important;
	border: none !important;
	border-radius: 0 !important;
}

#tabbrowser-tabs toolbar button > .toolbarbutton-icon { padding-bottom:2px !important; }

tab-background-end[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before, .tab-background-start[selected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before, .tab-background-start[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
.tab-background-end[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before, .tab-background-end[selected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
.tab-background-start[selected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before,.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after,
.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after, .tab-background-middle[selected=true], .tab-background-middle[selected=true]:-moz-lwtheme, .tab-background-start[selected=true]:-moz-lwtheme::before,
.tab-background-end[selected=true]:-moz-lwtheme::before, #tabbrowser-tabs::before, .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]){
	background-image: none !important;
	background-color: transparent !important;
	background-size: 100% 100%;
	border: none !important;
	border-radius: 0 !important;
}

.tab-background-end
{
	visibility: hidden !important;
}


.tab-throbber { display: none !important }
